.header {
    background-color: #ffffff;
    box-shadow: 0 5.5px 17px 0 rgba(208, 213, 222, 0.49);
    border-radius: 9px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header img {
    max-width: 80px;
}

.header form {
    width: 90%;
}

.header input {
    position: relative;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 14px;
    width: 48%;
    vertical-align: bottom;
}

header input[type="text"]::placeholder {
   font-size: 14px;
    font-weight: bold;
}

.header button {
    background-color: #f5a623;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
    border: none;
    color: #fff;
    width: 20%;
    margin-left: 15px;
}
.header ul {
    display: flex;
    justify-content: space-around;
}

.header ul li{
    margin: 10px;
}

.header ul li:hover{

}